body {
    font-family: 'Kanit' !important;
    font-size: 14px;
    margin: 0;
  }
  
.calendar {
    margin: auto;
    width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}


.month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgb(0,27,72);
    background: linear-gradient(90deg, rgba(0,27,72,1) 0%, rgba(2,69,122,1) 100%);
    color: #fff;
    padding: 40px 30px;
}

.weekends {
    background: rgb(1,23,60);
    background: linear-gradient(90deg, rgba(1,23,60,1) 0%, rgba(2,65,115,1) 100%);
    display: flex;
    color: #fff;
    padding: 7px 0;
}

.weekends div {
    width: 14.28%;
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px 0;
    color: #1c2135;
}

.days div {
    width: 14.28%;
    margin-bottom: 10px;
    padding: 10px 0;
}

.today {
    color:#27ae68;
}

.weekends div, .days div {
    width: 14.28%;
    text-align: center;
}

.days div:hover {
    background-color: #e7edf0;
}

.prev_date {
    color: #5a7694;
}

#month {
    font-size: 30px;
    font-weight: 500;
}

.prev, .next {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: all 0.2s;
    
} .prev a, .next a {
    color: #fff;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.holiday {
    color: #fc0000;
}



.calendar .left-side {
    float: left;
    width: 50%;
}
    .calendar .left-side tr th {
        background-color: #a73728;
        font-weight: lighter;
    }

    .calendar .right-side {
        float: right;
        width: 50%;
    }

    .calendar .right-side .left-side {
        height: 100%;
    }