* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 120%;
    background: rgb(189, 196, 195);
    
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: rgb(31,78,90);
    background: linear-gradient(90deg, rgba(31,78,90,1) 0%, rgba(2,147,133,1) 93%);
    text-align: center;
    border: 1px solid  rgb(31,78,90);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(31,78,90);
    background: white;
    border-radius: 0px 0px 10px 10px;
}


.form-group {
    margin: 10px 0px 10px 0px;
}

.form-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.form-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

#login {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(31,78,90);
    background: linear-gradient(90deg, rgba(31,78,90,1) 0%, rgba(2,147,133,1) 93%);
    border: none;
    border-radius: 5px;
}
